.select2.select2-container--default {

  .select2-selection--single,
  .select2-selection--multiple {
    border-width: 1px;
    border-style: solid;
    box-shadow: none;
    border-radius: 4px;
    max-width: 100%;
    height: auto;

    .select2-selection__rendered {
      line-height: normal;
      padding: 11px 15px;
      min-height: 39px;

      .select2-selection__clear {
        color: #707a8f;
        margin-top: -1px;
        margin-right: 25px;
      }
    }

    .select2-selection__arrow {
      width: 40px;
      height: 40px;

      b {
        display: none;
      }
    }
  }

  .select2-selection--multiple {
    min-height: 0;
    height: 48px;
    display: flex;
    align-items: center;

    .select2-selection__rendered {
      padding: 8px;
      min-height: 0;
    }

		.select2-selection__clear {
			display: none;
		}

    .select2-selection__choice {
      background-color: #f5f5f5;
      border: 1px solid #e5e5e5;
      padding: 5px 10px 5px 8px;
      margin-top: 0;
    }
  }

  .select2-search__field {
    margin-top: 0;
    padding: 4px;
  }
}

.select2-container .select2-search--dropdown .select2-search__field {
	border-radius: 3px;
}
